<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="//localhost:35729/livereload.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <title>Theme for TechChange</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- TechChange core CSS -->
    <link href="/dist/css/tc.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">
    <div class="techchange-footer">
      <div class="footer-inner">
      <div class="footer-section container">
        <div class="container">
          <div class="col-md-3">
            <b>Company</b>
            <br>
            <a href="#">About</a>
            <br>
            <a href="#">Blog</a>
            <br>
            <a href="#">Team</a>
            <br>
            <a href="#">Careers</a>
            <br>
            <a href="#">Contact</a>
          </div>
          <div class="col-md-3">
            <b>Our Work</b>
            <br>
            <a href="#">Portfolio</a>
            <br>
            <a href="#">Clients</a>
            <br>
            <a href="#">Case Studies</a>
          </div>
          <div class="col-md-3">
            <b>Blog</b>
            <br>
            <a href="#">Recent Post 1</a>
            <br>
            <a href="#">Recent Post 2</a>
            <br>
            <a href="#">Recent Post 3</a>
            <br>
            <a href="#">Recent Post 4</a>
            <br>
            <a href="#">Recent Post 5</a>
          </div>
          <div class="col-md-3">
            <b>Forums</b>
            <br>
            <a href="#">Product Help</a>
            <br>
            <a href="#">eLearning News</a>
            <br>
          </div>
        </div>
      </div>
      <div class="footer-section container">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
          <div class="input-group">
            <input placeholder="Sign up for information about new courses" type="text" class="form-control input-lg">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Submit</button>
            </span>
          </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
      <div class="footer-section container">
          <div class="col-md-4">
            <a class="navbar-brand xs-hidden" href="#">
              <span class="glyphicon glyphicon-globe menu-logo"></span> 
              <span class="brand-text">TechChange</span>
            </a>
          </div>
          <div class="col-md-4">
            <b>Washington</b>
            <p>2001 13th St.</p>
            <p>Washington, DC</p>
            <p>20009</p>
          </div>
          <div class="col-md-4">
            <b>Help</b>
              <p>Need help? We're here for you. Email us directly at info@techchange.org, or call us at 1-800-XXX-XXXX</p>
            </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.js"></script>
    <script src="../docs/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
